.pagenumberdefault{
    background-color: gray;
    padding: 10px 10px 10px 15px;
    width: 15px;
    margin: 10px;
    border: 1px solid black;

}
.pagenumberdefault:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.actives{
    background-color: black;
    color: white;
    padding: 10px 10px 10px 15px;
    width: 15px;
    margin: 10px;
    border: 1px solid black;
}