.pagenumberdefault {
  color: #fff;
}
.page-count {
  display: grid;
  place-items: center;
  width: 40px;
  margin: 10px;
  height: 40px;
  background-color: gray;
}
.actives-page-count {
  display: grid;
  place-items: center;
  width: 40px;
  margin: 10px;
  height: 40px;
  background-color: black;
}
.page-count:hover {
  background-color: rgb(49, 49, 49);
  color: white;
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
