*{
    margin: 0;
    padding: 0;
}
.menu_main_div{
    background-image:url("../../assets/Mask\ Group.png");
    
    background-size: cover;
    width: 100%;
    height: 300vh;
    margin: 0;
    margin-top: -10px;
}
body{
    margin: 0;
    padding: 0;
}