* {
  margin: 0;
  padding: 0;
}

.container-special-recipe {
  padding: 100px 200px;
    
  .special-recipe-heading {
    font-family: "Roboto", sans-serif;
    margin-bottom: 42px;
    

    h1 {
      margin-bottom: 30px;
      font-size: 40px;
      color: white;
      text-shadow: 4px 3px #122455;

    }
    p {
      width: 500px;
      letter-spacing: 2PX;
      word-spacing: 2PX;
      text-shadow: 4px 3px #122455;
      line-height: 1.6;
      font-size: 22px;
      color: #ebebeb;
      margin-bottom: 100px;
    }
  }
}
.Special-card {
  display: flex;
  flex-wrap: wrap;
  gap: 4.25em;
}
.popup-details{
  background: url();
}